/* Attribution */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/* Inter Regular, Bold, and ExtraBold */

/* Root */

:root {
    /*        */
    /* colors */
    /*        */
    --p-soft-orange: hsl(35, 77%, 62%);
    --p-soft-red: hsl(5, 85%, 63%);
    
    --n-off-white: hsl(36, 100%, 99%);
    --n-grey-blue: hsl(233, 8%, 79%);
    --n-dark-grey-blue: hsl(236, 13%, 42%);
    --n-vdark-grey-blue: hsl(240, 100%, 5%);

    /*                  */
    /* Media Breakpoints */
    /*                  */
    --mobile-width: 375px;
    --desktop-width: 1440px;

    /*             */
    /* Font Sizes */
    /*            */
    --body-copy: 15px;
    --regular: 400;
    --bold: 700;
    --extrabold: 800;
    --inter: 'Inter', sans-serif;

    --size-100: 0.25rem;
    --size-200: 0.50rem;
    --size-300: 0.75rem;
    --size-400: 1.00rem;
    --size-500: 1.50rem;
    --size-600: 2.00rem;
    --size-700: 3.00rem;
    --size-800: 4.00rem;
    --size-900: 5.00rem;
}

/* Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

hr {border:0;border-top:1px solid #555;margin:0;height:1px;}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}

/* variables */

.soft-orange {color:var(--p-soft-orange);}
.soft-red {color:var(--p-soft-red);}
.off-white {color:var(--n-off-white);}
.grey-blue {color:var(--n-grey-blue);}
.dark-grey-blue {color:var(--n-dark-grey-blue);}
.vdark-grey-blue {color:var(--n-vdark-grey-blue);}

.padding-block-100{padding-block: var(--size-400)}
.padding-block-200{padding-block: var(--size-600)}

.dark {background-color: var(--n-vdark-grey-blue);}

h1 {
    font-weight: var(--extrabold);
    font-size: var(--size-700);
}

h2 .light {
    
}

p {
    font-size: var(--body-copy);
    color: var(--n-dark-grey-blue);
}

/* Master */
* {
    font-family: var(--inter)
}

html, body {
    margin: 0;
    background-color: var(--n-off-white);
}

.wrapper {
    margin-inline: auto;
    max-width: 70em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main > .wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
}

/* media q */

@media (min-width: var(--mobile-width)) {

}
